<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/editprofile"></ion-back-button>
      <p style="font-size: 20px; color: white;">Back to edit profile</p>
    </ion-buttons>
  </div>

  <div class="editNameContainer">

    <div class="header">
      <h1>Update Name</h1>
      <div class="zontaline">

      </div>
    </div>

    <div class="imgDiv">
      <img src="../../../assets/images/textfield.png">
    </div>

    <div class="registerContent">
      <form [formGroup]="registrationForm" novalidate>
        <ion-input formControlName="acc_lname" [(ngModel)]="acc_lname" placeholder="Last Name"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_lname.errors?.required">
          Last name is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_lname.errors?.minlength">
          Last name should be at least 2 characters long or more.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_lname.errors?.pattern">
          Last name should not contain any number.
        </span>
        <ion-input formControlName="acc_fname" [(ngModel)]="acc_fname" placeholder="First Name"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_fname.errors?.required">
          First name is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_fname.errors?.minlength">
          First name should be at least 2 characters long or more.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_fname.errors?.pattern">
          First name should not contain any number.
        </span>
        <ion-input formControlName="acc_mname" [(ngModel)]="acc_mname" placeholder="Middle Name"></ion-input>
        
      </form>
    </div>

    <ion-button class="registerBtn" (click)="submitForm()" shape="round" expand="block">Finish</ion-button>

  </div>

</ion-content>
