<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
      <p style="font-size: 20px; color: white;">{{ catName }}</p> 
    </ion-buttons>
  </div>

  <div class="categoryProducts">

    <ion-searchbar style="margin-top: 5px;" mode="ios"></ion-searchbar>

    <div class="categoryItems">
      
      <div class="categoryItem" *ngFor = "let item of dt">

        <div class="catItemFirstHalf">

          <div class="categoryItemImage">
            <img src="https://via.placeholder.com/150">
          </div>
  
          <div class="categoryItemDesc">
            <p class="header">{{ item.product_name }}</p>
            <p>₱ {{ item.product_price }}</p>
          </div>

        </div>

        <div class="catItemSecondHalf">

          <ion-button class="viewDetailsBtn" shape="round" expand="full" fill="outline" (click)="viewProduct(item.product_id)">
            <ion-icon name="eye" style="color: white; margin-right: 10px;"></ion-icon>
            View Details
          </ion-button>

        </div>

      </div>

    </div>

  </div>


</ion-content>
