<ion-content mode="md" [scrollEvents]="true">

  <div class="sidenavBtn">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
      <p style="font-size: 20px; color: white;">{{ catName }}</p> 
      <span  style="flex: 1 1 auto"></span>
      <div style="float:right;">
        <ion-fab-button [routerLink]="['/cart']"><ion-icon  class="cart-btn" name="cart-sharp"></ion-icon></ion-fab-button>
      </div>
    </ion-buttons>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="ScrollToTop()">
      <ion-icon name="arrow-up" class="back-to-top-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 

  <div class="categoryProducts">

    <ion-searchbar style="margin-top: 5px;" mode="ios" [(ngModel)]="term"></ion-searchbar>

    <!-- <div class="categoryItems">
      
      <div class="categoryItem" *ngFor = "let item of dt | filter:term">

        <div class="catItemFirstHalf">

          <div class="categoryItemImage">
            <img src="{{ item.product_image }}">
          </div>
  
          <div class="categoryItemDesc">
            <p class="header">{{ item.product_name }}</p>
            <p>₱ {{ item.product_price }}</p>
          </div>

        </div>

        <div class="catItemSecondHalf">

          <ion-button class="viewDetailsBtn" shape="round" expand="full" fill="outline" (click)="viewProduct(item.product_id)">
            <ion-icon name="eye" style="color: white; margin-right: 10px;"></ion-icon>
            View Details
          </ion-button>

        </div>

      </div>

    </div> -->

    <div class="category-products">
      <div class="outline-border" *ngFor = "let item of dt | filter:term">
        <div class="catproduct-img">
          <img *ngIf = "item.product_image == null" src="../../assets/images/defaultproductphoto.png">
          <img *ngIf = "item.product_image != null" src="{{ item.product_image }}">
        </div>
        <div class="catproduct-details">
          <p>{{ item.product_name }}</p>
          <div class="priceviewbtn">
            <p>₱ {{ item.product_price }}</p>
            <ion-fab-button class="viewbtn" size="small" (click)="viewProduct(item.product_id)"><ion-icon style="color: white;" name="eye"></ion-icon></ion-fab-button>
          </div>
        </div>
      </div>
    </div>

  </div>


</ion-content>
