
<ion-content class="main-container" mode="md">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#228b22" fill-opacity="1" d="M0,160L40,170.7C80,181,160,203,240,181.3C320,160,400,96,480,90.7C560,85,640,139,720,138.7C800,139,880,85,960,96C1040,107,1120,181,1200,218.7C1280,256,1360,256,1400,256L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#1b6f1b;"></path></svg>
  <div class="main-container">

    <div class="sidenavBtn">
      <ion-buttons slot="start">
        <ion-back-button (click)="prevForm()" color="primary" defaultHref="/register/birthday"></ion-back-button> 
      </ion-buttons>
    </div>

    <div class="questionGraphic">
      <div class="graphic-image">
        <img src="../../assets/images/emailcontactnum.png" style="margin-bottom: 10px;">
      </div>

      <div class="registerContent">
        <p class="registerMidHeader poppins">To send updates to you via sms and email, please provide your phone number and email address.</p>
        <form [formGroup]="registrationForm" novalidate>
          <ion-input formControlName="acc_mobile" [(ngModel)]="acc_mobile" placeholder="Contact Number"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_mobile.errors?.required">
            Mobile number is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_mobile.errors?.pattern">
            Mobile number should not contain any letters.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_mobile.errors?.minlength">
            Mobile number should be 11 numbers long.
          </span>
          <ion-input formControlName="acc_email" [(ngModel)]="acc_email" placeholder="Email Address"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_email.errors?.required">
            Email is required.
          </span>
        </form>
      </div>

      <div class="navBtnDiv">
        <ion-button (click)="nextForm()" class="navBtn" [disabled]="registrationForm.invalid" shape="round">Next</ion-button>
      </div>

    </div>
    
</div>
</ion-content>