
<ion-content class="main-container" mode="md">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#228b22" fill-opacity="1" d="M0,160L40,170.7C80,181,160,203,240,181.3C320,160,400,96,480,90.7C560,85,640,139,720,138.7C800,139,880,85,960,96C1040,107,1120,181,1200,218.7C1280,256,1360,256,1400,256L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#1b6f1b;"></path></svg>
  <div class="main-container">

    <div class="sidenavBtn">
      <ion-buttons slot="start">
        <ion-back-button (click)="prevForm()" color="primary" defaultHref="/register"></ion-back-button> 
      </ion-buttons>
    </div>

    <div class="questionGraphic">
      <div class="graphic-image">
        <img src="../../assets/images/address.png">
      </div>
      <div class="registerContent">
        <p class="registerMidHeader poppins">Please provide your home address.</p>
        <form [formGroup]="registrationForm" novalidate>
          <ion-input formControlName="acc_no" [(ngModel)]="acc_no" placeholder="House Number"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_no.errors?.required">
            House number is required.
          </span>
          <ion-input formControlName="acc_street" [(ngModel)]="acc_street" placeholder="Street"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_street.errors?.required">
            Street is required.
          </span>
          <ion-select formControlName="acc_barangay" [(ngModel)]="acc_barangay" placeholder="Barangay" ok-text="SELECT">
          <ion-select-option value="Asinan">Asinan</ion-select-option>
          <ion-select-option value="Banicain">Banicain</ion-select-option>
          <ion-select-option value="Barretto">Barretto</ion-select-option>
          <ion-select-option value="East Bajac-Bajac">East Bajac-Bajac</ion-select-option>
          <ion-select-option value=">East Tapinac">East Tapinac</ion-select-option>
          <ion-select-option value="Gordon Heights">Gordon Heights</ion-select-option>
          <ion-select-option value="Kalaklan">Kalaklan</ion-select-option>
          <ion-select-option value="Mabayuan">Mabayuan</ion-select-option>
          <ion-select-option value="New CabalanN">New Cabalan</ion-select-option>
          <ion-select-option value="New Ilalim">New Ilalim</ion-select-option>
          <ion-select-option value="New Kababae">New Kababae</ion-select-option>
          <ion-select-option value="Old Cabalan">Old Cabalan</ion-select-option>
          <ion-select-option value="Pag-asa">Pag-asa</ion-select-option>
          <ion-select-option value="Santa Rita">Santa Rita</ion-select-option>
          <ion-select-option value="West Bajac-Bajac">West Bajac-Bajac</ion-select-option>
          <ion-select-option value="West Tapinac">West Tapinac</ion-select-option>
          </ion-select>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_barangay.errors?.required">
            Barangay is required.
          </span>
          <ion-input [(ngModel)]="acc_city" [ngModelOptions]="{standalone: true}" disabled></ion-input>
          <ion-input [(ngModel)]="acc_province" [ngModelOptions]="{standalone: true}" disabled></ion-input>
        </form>
      </div>

      <div class="navBtnDiv">
        <ion-button class="navBtn" (click)="nextForm()" [disabled]="registrationForm.invalid" shape="round">Next</ion-button>
      </div>

    </div>

    
</div>
</ion-content>