.main-container{
    width:auto;
    height:100%;

}

.login-content{
    justify-content: center;
    padding:20px;
    
    .login-label{
        font-family: 'Poppins', sans-serif;
        padding-left:20;
        margin-left: 15px;
        margin-top: -30px;

            p{
                margin-top: -10px;
                font-size: 16px;    
            }
            
            h1{
                font-size: 25px;      
            }
    }

    .img-container{
        height: auto;
        width: auto;
        margin-top: -20px;
        position: relative;
    }
}
    

.loginForm{
    padding: 15px;
    margin-top: 20px;
    
    .btn-signin{
        margin-top: 10px;
        --background: #228b22;
        font-family: 'Poppins', sans-serif;
        height: 50px;
        width:100%;
        font-size: 20px;
    }
    
    .input{
        background-color: #EDEDED;
        height: 50px;
        margin: 5px 0px;
        border-radius: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }  
}

.icon{
    margin: 0px 10px;
    color:#228b22;
    width: 30px;
    height: 30px;
}


a {
    color: #228b22;
    text-decoration: none;
}