
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

<ion-content>
  <div  class="main-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#228b22" fill-opacity="1" d="M0,160L40,170.7C80,181,160,203,240,181.3C320,160,400,96,480,90.7C560,85,640,139,720,138.7C800,139,880,85,960,96C1040,107,1120,181,1200,218.7C1280,256,1360,256,1400,256L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#1b6f1b;"></path></svg>

    <div class="login-content">

      <div class="img-container">
        <img src="../../assets/images/login.png">
      </div>

      <div class="login-label">
        <h1>Sign in to Go-cery.</h1>
        <p>Your convenience starts here.</p>
      </div>
      
      <div class="loginForm">
        <ion-icon class="icon" name="person-circle"></ion-icon>
        <ion-input   class="input" placeholder="Username">
     
        </ion-input>
        <ion-icon class="icon" name="lock-closed"></ion-icon>
        <ion-input [type]="passwordType" placeholder="Password" class="input" placeholder="Password">
    
          
        </ion-input>
      <ion-icon class="eye" item-end [name]="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        
        
        <ion-button class="btn-signin" expand="block" shape="round">Sign in</ion-button>
      </div>
    
      <p style="margin-top: 10px; text-align: center;">New to Go-cery? 
        <a [routerLink]="['/register']"><strong> Sign up here </strong></a>
      </p>

    </div>
  </div>
</ion-content>
