
<ion-content mode="md">

  <div class="cartContent">

    <div class="sidenavBtn">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/products"></ion-back-button>
        <p style="font-size: 20px; color: white;">My Cart</p> 
      </ion-buttons>
    </div>

    <div class="cartItems">

      <div class="cartImg">
        <img src="../../assets/images/shoppingcartalt.png" style="width: 75%; height: 75%;">
      </div>

      <ion-card *ngFor = "let cartItem of cardContent">
        <ion-card-content>
          <div class="cartItem">
            <img src="https://via.placeholder.com/100">
            <div class="cartItemDesc">
              <p class="itemName">{{ cartItem.itemName}}</p>
              <p>₱ {{ cartItem.itemPrice}}</p>
              <div class="quantityDecInc">
                <ion-fab-button size="small"><ion-icon name="remove-sharp"></ion-icon></ion-fab-button>
                <p>1</p>
                <ion-fab-button size="small"><ion-icon name="add-sharp"></ion-icon></ion-fab-button>
                <ion-fab-button size="small" class="deleteCartItem"><ion-icon name="trash"></ion-icon></ion-fab-button>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <div class="checkoutButton">
        <ion-button class="checkoutBtn" shape="round" [routerLink]="['/checkout']">Checkout</ion-button>
      </div>

    </div>

  </div>
  
</ion-content>
