p {
    font-family: 'Poppins', sans-serif;
}

.sidenavBtn {
    padding: 15px;
}

.cartHeader {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.cartImg {
    display: flex;
    justify-content: center;
}

.emptyCartImg {
    text-align: center;
    margin-top: 150px;
}

.cartItem {
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.cartItems {
    padding: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    min-height: 100vh;
    margin-top: -10px;
}

.quantityDecInc {
    display: flex;
    //justify-content: space-evenly;
    align-items: center;
}

ion-card {
    width: 90%;
    margin: 16px auto 16px auto;
    --ion-background-color: #EDEDED; 
}

ion-fab-button {
    --background: forestgreen;
}

ion-content {
    --ion-background-color:#228b22;
}

.checkoutButton {
    text-align: center;
}

.checkoutBtn {
    --background: #228b22;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width:91%;
    font-size: 20px;
    margin-top: 15px;
}

.deleteCartItem {
    --background: #DD2C00;
}

.itemName {
    font-size: 16px;
}

ion-back-button {
    --color: white;
}


.centerEmptyCart {
    p {
        padding: 0 15px;
    }
}

.product-image {
    width: 100px;
    height: 100px;
}

.outlineborderdiv {
    padding: 0 15px;
}

.outline-border {
    padding: 0 15px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cartItemDesc {
    flex: 1;
}