
<ion-content mode="md">

  <div class="cartContent">

    <div class="sidenavBtn">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/products"></ion-back-button>
        <p style="font-size: 20px; color: white;">My Cart</p> 
      </ion-buttons>
    </div>

    <div class="cartItems" *ngIf = "cart_qty.length === 0">

      <div class="emptyCartImg">
        <div class="centerEmptyCart">
          <img src="../../assets/images/emptycart.png" style="width: 75%; height: 75%;">
          <p style="font-size: 20px;">Nothing in your cart.</p>
          <p style="margin-top: -10px;">Products you add in your cart will appear here.</p>
        </div>
      </div>

    </div>

    <div class="cartItems" *ngIf = "cart_qty.length != 0">

      <div class="cartImg">
        <img src="../../assets/images/shoppingcartalt.png" style="width: 75%; height: 75%;">
      </div>

      <ion-card *ngFor = "let cartItem of dt">
        <ion-card-content>
          <div class="cartItem">
            <img class="product-image" src="{{ cartItem.product_image }}">
            <!-- <img *ngIf="cartItem.product_image === null" class="product-image" src="../../assets/images/defaultproductphoto.png"> -->
            <div class="cartItemDesc">
              <p class="itemName">{{ cartItem.product_name}}</p>
              <p>₱ {{ cartItem.product_price}}</p>
              <div class="quantityDecInc">
                <ion-fab-button (click)="subtractQuantity(cartItem.cart_id, cartItem.cart_quantity)" size="small"><ion-icon name="remove-sharp"></ion-icon></ion-fab-button>
                <p> {{ cartItem.cart_quantity }}</p>
                <ion-fab-button (click)="addQuantity(cartItem.cart_id, cartItem.cart_quantity)"size="small"><ion-icon name="add-sharp"></ion-icon></ion-fab-button>
                <ion-fab-button (click)="deleteProduct(cartItem.cart_id)" size="small" class="deleteCartItem"><ion-icon name="trash"></ion-icon></ion-fab-button>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <!-- <div class="outlineborderdiv">
        <div class="outline-border" *ngFor = "let cartItem of dt">
          <div class="cartItem">
            <img class="product-image" src="{{ cartItem.product_image }}">
            <div class="cartItemDesc">
              <p class="itemName">{{ cartItem.product_name}}</p>
              <p>₱ {{ cartItem.product_price}}</p>
              <div class="quantityDecInc">
                <ion-fab-button (click)="subtractQuantity(cartItem.cart_id, cartItem.cart_quantity)" size="small"><ion-icon name="remove-sharp"></ion-icon></ion-fab-button>
                <p> {{ cartItem.cart_quantity }}</p>
                <ion-fab-button (click)="addQuantity(cartItem.cart_id, cartItem.cart_quantity)"size="small"><ion-icon name="add-sharp"></ion-icon></ion-fab-button>
                <ion-fab-button (click)="deleteProduct(cartItem.cart_id)" size="small" class="deleteCartItem"><ion-icon name="trash"></ion-icon></ion-fab-button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="checkoutButton">
        <ion-button class="checkoutBtn" shape="round" (click)="checkOut()">Checkout</ion-button>
      </div>

    </div>

  </div>
  
</ion-content>
