<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/editprofile"></ion-back-button>
      <p style="font-size: 20px; color: white;">Back to edit profile</p>
    </ion-buttons>
  </div>

  <div class="editNameContainer">

    <div class="header">
      <h1>Change Password</h1>
      <div class="zontaline">

      </div>
    </div>

    <div class="imgDiv">
      <img src="../../../assets/images/changepassword.png">
    </div>

    <div class="registerContent">
      <form [formGroup]="registrationForm" novalidate>
        <ion-input formControlName="acc_password" [(ngModel)]="acc_password" type="password" placeholder="New Password"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_password.errors?.required">
          Password is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_password.errors?.minlength">
          Password should be at least 8 characters long or more.
        </span>

        <ion-input formControlName="acc_confirmpassword" [(ngModel)]="acc_confirmpassword" type="password" placeholder="Confirm Password"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_confirmpassword.errors?.required">
          Please confirm your password.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_confirmpassword.errors?.minlength">
          Password should be at least 8 characters long or more.
        </span>
      </form>
    </div>

    <ion-button class="registerBtn" (click)="submitForm()" shape="round" expand="block">Finish</ion-button>

  </div>

</ion-content>
