.logoplaceholder {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 1.5px solid lightgray;
    padding: 10px;
}

p {
    color: black;
}

ion-icon {
    font-size: 30px;
    color: forestgreen;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.sidenavicon {
    width: 30px;
    height: 30px;
    color: forestgreen !important;
}

.appinfo {
    position: absolute;
    bottom: 10px;
    margin-left: 25px;
}

