<ion-app>

  <ion-menu  side="start" menuId="first" contentId="content" [swipeGesture]="false">
    
    <div class="logoplaceholder">
      <img src="../assets/images/templogo.png">
    </div>
    
    <ion-content color="white" mode="md">  
      
      <ion-menu-toggle  auto-hide="true">
        <ion-list lines="none">
          <ion-item [routerLink]="['/products']">
            <ion-icon name="cart" slot="start"></ion-icon>
            <ion-label class="poppins">Categories</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/profile']">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label class="poppins">Profile</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/myorders']">
            <ion-icon name="bag-check" slot="start"></ion-icon>
            <ion-label class="poppins">My Orders</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/privacypolicy']">
            <ion-icon name="shield-checkmark" slot="start"></ion-icon>
            <ion-label class="poppins">Privacy Policy</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/termsconds']">
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label class="poppins">Terms & Conditions</ion-label>
          </ion-item>
          <ion-item (click)="logout()">
            <ion-icon name="power" slot="start"></ion-icon>
            <ion-label class="poppins">Sign out</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>

      <p class="appinfo poppins">© Gocery 2021 | v1.0</p>

    </ion-content>   
  </ion-menu>  

  <ion-router-outlet Id="content"></ion-router-outlet>

</ion-app>
