.sidenavBtn {
    padding: 15px;
}

ion-content {
    --ion-background-color:#228b22;
    font-family: 'Poppins', sans-serif;
}

ion-back-button {
    --color: white;
}

.whiteMainDiv {
    padding: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    min-height: 100vh;
    margin-top: -10px;
}

.orderDetail {
    border: 1.5px solid #228b22;
    border-radius: 20px;
    width: 95%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 15px;

    img {
        height: fit-content;
    }

    p {
        margin: 0;
    }

}

.orderItems {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.detailText {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
}

.header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px !important;
}


.orderDateTimeDiv {
    border: 1.5px solid #228b22;
    border-radius: 20px;
    width: 95%;
    margin: 10px auto;
    padding: 0 10px;
}

.orderDateTime {
    display: flex;
    margin-top: -20px;
    p {
        height: min-content;
        flex: 1;
    }
}

.orderDetailsImg {
    margin-top: 15px;
}

.cancelBtn {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 95%;
    font-size: 20px;
	margin: 20px auto;
}

.zontaline {
    border-bottom: 1px solid dimgray;
}

.img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    img {
        width: 64px;
        height: 64px;
    }
}