<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start" (click)="back()">
      <ion-back-button defaultHref="/myorders"></ion-back-button>
      <p style="font-size: 20px; color: white;">Order Details</p> 
    </ion-buttons>
  </div>

  <div class="whiteMainDiv">

    <div class="orderImgDiv">
      <img *ngIf="dt[0].order_status == 3" class="orderDetailsImg" src="../../assets/images/delivered.png">
      <img *ngIf="dt[0].order_status == 1" src="../../assets/images/pendingapproval.png">
      <img *ngIf="dt[0].order_status == 2" src="../../assets/images/pending.png">
      <img *ngIf="dt[0].order_status == 0" src="../../assets/images/cancelled.png">
    </div>

    <div class="orderDetail">
      <img src="../../assets/images/location.png">
      <div class="detailText">
        <p class="header">Delivery Address</p>
        <p>{{ dt[0].acc_no }} {{ dt[0].acc_street }} {{ dt[0].acc_barangay }}, {{ dt[0].acc_city }} {{ dt[0].acc_province }}</p>
      </div>
    </div>

    <div class="orderDateTimeDiv">
      <img src="../../assets/images/orderitems.png">
      <p class="header">Order Items</p>
      <div class="orderDateTime" *ngFor="let item of order_item">
        <p>{{ item.product_name }} </p>
        <p>₱ {{ item.product_price }} x {{ item.item_quantity }}</p>
      </div>
    </div>

    <!-- <div class="orderDetail">
      <img src="../../assets/images/orderitems.png">
      <div class="detailText">
        <p class="header">Order Items</p>
        <div *ngFor="let item of order_item">
          <div class="orderItems">
            <p>{{ item.product_name }} </p>
            <p>₱ {{ item.product_price }} x {{ item.item_quantity }}</p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="orderDetail">
      <img src="../../assets/images/cashondelivery.png">
      <div class="detailText">
        <p class="header">Payment Method</p>
        <p>Cash on Delivery</p>
      </div>
    </div>

    <div class="orderDetail">
      <img src="../../assets/images/wallet.png">
      <div class="detailText">
        <p class="header">Payment Information</p>
        <div class="orderItems">
          <p>Subtotal</p>
          <p>₱ {{ dt[0].order_total }}</p>
        </div>
        <div class="orderItems">
          <p>Delivery Fee</p>
          <p>₱ {{ dt[0].order_shipping }}</p>
        </div>
        <div class="zontaline">
          
        </div>
        <div class="orderItems">
          <p><strong>Total Price</strong></p>
          <p><strong>₱ {{ dt[0].order_grandtotal }}</strong></p>
        </div>
      </div>
    </div>

    <div class="orderDateTimeDiv">
      <img src="../../assets/images/calendar.png">
      <p class="header">Order Information</p>
      <div class="orderDateTime">
        <p>Order ID</p>
        <p>{{ dt[0].order_id }}</p>
      </div>
      <div class="orderDateTime">
        <p>Order Date</p>
        <p>{{ dt[0].created_at | date:"MMMM d, y h:mm a" }}</p>
      </div>
    </div>

    <ion-button class="cancelBtn" (click)="cancelOrder()" [hidden]="dt[0].order_status == 2 || dt[0].order_status == 3 || dt[0].order_status == 0" shape="round" expand="block">Cancel Order</ion-button>
  </div>

</ion-content>
