<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start" (click)="back()">
      <ion-back-button defaultHref="/myorders"></ion-back-button>
      <p style="font-size: 20px; color: white;">Order Details</p> 
    </ion-buttons>
  </div>

  <div class="whiteMainDiv">

    <div class="orderImgDiv">
      <img class="orderDetailsImg" src="../../assets/images/delivered.png">
    </div>

    <div class="orderDetail">
      <img src="../../assets/images/location.png">
      <div class="detailText">
        <p class="header">Delivery Address</p>
        <p>{{ dt[0].acc_no}} {{ dt[0].acc_street }} {{ dt[0].acc_barangay }}, {{ dt[0].acc_city }} {{ dt[0].acc_province }}</p>
      </div>
    </div>

    <div class="orderDetail">
      <img src="../../assets/images/orderitems.png">
      <div class="detailText">
        <p class="header">Order Items</p>
        <div class="orderItems">
          <p>Item here x 1</p>
          <p>₱ 0.00</p>
        </div>
        <div class="orderItems">
          <p>Item here x 1</p>
          <p>₱ 0.00</p>
        </div>
        <div class="orderItems">
          <p>Item here x 1</p>
          <p>₱ 0.00</p>
        </div>
      </div>
    </div>

    <div class="orderDetail">
      <img src="../../assets/images/cashondelivery.png">
      <div class="detailText">
        <p class="header">Payment Method</p>
        <p>Cash on Delivery</p>
      </div>
    </div>

    <div class="orderDetail">
      <img src="../../assets/images/wallet.png">
      <div class="detailText">
        <p class="header">Payment Information</p>
        <div class="orderItems">
          <p>Delivery Fee</p>
          <p>₱ 0.00</p>
        </div>
        <div class="orderItems">
          <p>Total Price</p>
          <p>₱ 0.00</p>
        </div>
      </div>
    </div>

    <div class="orderDateTimeDiv">
      <img src="../../assets/images/calendar.png">
      <p class="header">Order Information</p>
      <div class="orderDateTime">
        <p>Order ID</p>
        <p>696969</p>
      </div>
      <div class="orderDateTime">
        <p>Order Date</p>
        <p>6/15/15, 9:03 AM</p>
      </div>
      <div class="orderDateTime">
        <p style="text-align: left;">Completed</p>
        <p>6/15/15, 9:03 AM</p>
      </div>
    </div>

  </div>

</ion-content>
