
<ion-content>

<div class="sidenavBtn">
  <ion-buttons slot="start">  
    <ion-menu-button color="light"></ion-menu-button>
    <p style="font-size: 20px; color: white;">Categories</p> 
  </ion-buttons> 
</div> 

    <div class="products">

      <div class="productsContent">
        <div class="searchDiv">
          <div class="productTopHeader">
            <div class="greetings">
              <p style="font-size: 20px;"><b>Hello, Juan Dela Cruz</b></p>
            </div>
            <div class="greetingQuestion" style="margin-top: -20px;">
              <p>What would you like to buy today?</p>
            </div>
          </div>
          <div class="cartFAB">
            <ion-fab-button [routerLink]="['/cart']"><ion-icon name="cart-sharp"></ion-icon></ion-fab-button>
          </div>
          <!-- <ion-button shape="round" slot="icon-only"><ion-icon name="cart-sharp"></ion-icon></ion-button> -->
          <!-- <img src="../../assets/images/cosplayer.png" style="width: 64px; height: 64px;"> -->
        </div>
        </div>
        
      <!-- <p class="title-label">Categories</p> -->
      <!-- <div class="imgDiv">
        <img src="../../assets/images/groceries.png" style="height: 170px;">
      </div> -->
      <ion-searchbar style="margin-top:-20px;" mode="ios"></ion-searchbar>

      <div class="groceryItems">
        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/meat.png" style="width: 100px; height: 100px;">
            <p class="category-label">Meat</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/cabbage.png" style="width: 100px; height: 100px;">
            <p class="category-label">Vegetables</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/shrimp.png" style="width: 100px; height: 100px;">
            <p class="category-label">Seafood</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/soap.png" style="width: 100px; height: 100px;">
            <p class="category-label">Personal Care</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/drinks.png" style="width: 100px; height: 100px;">
            <p class="category-label">Beverages</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/canned-food.png" style="width: 100px; height: 100px;">
            <p class="category-label">Canned Goods</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/dairy.png" style="width: 100px; height: 100px;">
            <p class="category-label">Dairy</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/detergent.png" style="width: 100px; height: 100px;">
            <p class="category-label">Cleaners</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/bananas.png" style="width: 100px; height: 100px;">
            <p class="category-label">Fruits</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/bread.png" style="width: 100px; height: 100px;">
            <p class="category-label">Bread</p>
          </ion-card-content>
        </ion-card>

    </div>

  </div>

</ion-content>
