.searchDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
}

ion-searchbar {
    //margin-top: -15px;
}

.products {
    padding: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    margin-top: -10px;
}

ion-content {
    --ion-background-color:#228b22;
}

.imgDiv {
    display: flex;
    place-content: center;
}

ion-card {
    --ion-background-color: whitesmoke;
    width: 135px;
}

.groceryItems {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}