
<ion-content>
  
  <div class="productsContent">
    <div class="searchDiv">
      <p style="color: white;">Hello, Pieck Finger <br> Find your favorite groceries here.</p>
      <img src="../../assets/images/cosplayer.png" style="width: 64px; height: 64px;">
    </div>
  
    <div class="products">
      <p style="font-size: 1.5rem;">Products</p>
      <div class="imgDiv">
        <img src="../../assets/images/groceries.png" style="height: 170px;">
      </div>
      <ion-searchbar mode="ios"></ion-searchbar>

      <div class="groceryItems">
        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/groceryItem.png">
            
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/groceryItem.png">
            
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/groceryItem.png">
            
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <img src="../../assets/images/groceryItem.png">
            
          </ion-card-content>
        </ion-card>
      </div>

    </div>

  </div>
  
</ion-content>
