
.productsContent {
    padding: 15px;
}


.searchDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    // padding: 10px 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
}

.title-label{
      font-family: 'Poppins', sans-serif;
        padding-left:20;
        margin-left: 15px;
        font-size: 25px;
        margin-top: -10px;  
}

.products {
    padding: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    margin-top: -10px;
}

ion-content {
    --ion-background-color:#228b22;
}

.imgDiv {
    display: flex;
    place-content: center;
}

ion-card {
    --ion-background-color:#EDEDED;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.groceryItems {
    display: flex;
    place-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

ion-fab-button {
	--background: forestgreen;
    border-radius: 50%;
}

ion-icon {
    color: white;
    font-size: 30px;
}

.category-label{
    text-align: center; 
    margin-top: 5px;
    color: forestgreen;
}

.sidenavBtn {
    padding: 15px;
}