<ion-content class="main-container" mode="md">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#228b22" fill-opacity="1" d="M0,160L40,170.7C80,181,160,203,240,181.3C320,160,400,96,480,90.7C560,85,640,139,720,138.7C800,139,880,85,960,96C1040,107,1120,181,1200,218.7C1280,256,1360,256,1400,256L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#1b6f1b;"></path></svg>
  <div class="main-container">

    <div class="sidenavBtn">
      <ion-buttons slot="start">
        <ion-back-button (click)="prevForm()" color="primary" defaultHref="/register/contact"></ion-back-button> 
      </ion-buttons>
    </div>

    <div class="questionGraphic">
      <div class="graphic-image">
        <img src="../../assets/images/unamepword.png">
      </div>

      <div class="registerContent">
        <p class="registerMidHeader poppins">Set your desired username and password that you can later use to sign in to Go-cery.</p>
        <form [formGroup]="registrationForm" novalidate>
          <ion-input formControlName="acc_username" [(ngModel)]="acc_username" placeholder="Username"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_username.errors?.required">
            Username is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_username.errors?.minlength">
            Username should be at least 2 characters long or more.
          </span>
          <ion-input formControlName="acc_password" [(ngModel)]="acc_password" type="password" placeholder="Password"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_password.errors?.required">
            Password is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.acc_password.errors?.minlength">
            Password should be at least 8 characters long or more.
          </span>
        </form>
      </div>

      <div class="navBtnDiv">
        <ion-button class="navBtn" (click)="nextForm()" [disabled]="registrationForm.invalid" shape="round">Next</ion-button>
      </div>

    </div>
</div>
</ion-content>