.userAvatar {
    width: 50%;
    height: 50%;
}

.avatarContainer {
    text-align: center;
}

ion-content {
    --ion-background-color:#228b22;
}

ion-card {
    --ion-background-color: white;
}

.profileContent {
    padding: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    min-height:100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.outlineborder {
    border: 1.5px solid #228b22;
    border-radius: 35px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    width: 95%;
    margin: 15px auto;
}

.header {
    font-size: 18px;
}

.icon {
    color: forestgreen;
    font-size: 22px;
    margin-right:5px;
    vertical-align: -4px;
}

.editDetailsBtn {
    text-align: center;
    padding-bottom: 15px;
}

.actionBtn {

   --background: #228b22;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 95%;
    font-size: 20px;
}

.profile-card{
    margin-top:20px;
    border-radius: 35px;
}