<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>
      <p style="font-size: 20px; color: white;">Profile Details</p> 
    </ion-buttons> 
  </div>

  <div *ngFor="let data of dt">
    <div class="profile-card">
      <ion-card>
        <ion-card-content>
          <div class="avatarContainer">
            <img class="userAvatar" src="../../assets/images/useravatar.png">
            <ion-fab-button size="small" [routerLink]="['/editprofile']"><ion-icon name="create"></ion-icon></ion-fab-button>
            <h1 style="color:#228b22;"><strong>{{ data.acc_fname }} {{ data.acc_mname[0] }}. {{ data.acc_lname}}</strong></h1>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  
    <div class="profileContent">
  
      <div class="outlineborder">
        <p class="header"><ion-icon name="calendar-number-outline" class="icon"></ion-icon><strong>Date of Birth </strong></p>
        <p style="text-align: right;">{{ data.acc_birthdate | date:'longDate'}}</p>
      </div>
  
      <div class="outlineborder">
        <p class="header"><ion-icon name="location-outline" class="icon"></ion-icon><strong>Address</strong></p>
        <p style="text-align: right;">{{ data.acc_no }} {{ data.acc_street }} {{ data.acc_barangay }} {{ data.acc_city }}, {{ data.acc_province }}</p>
      </div>
  
      <div class="outlineborder">
        <p class="header"><ion-icon name="male-female-outline" class="icon"></ion-icon><strong>Gender</strong></p>
        <ng-container>
          <p style="text-align: right;" *ngIf="(data.acc_gender == 1)">Male</p>
          <p style="text-align: right;" *ngIf="(data.acc_gender == 2)">Female</p>
        </ng-container>
      </div>
  
      <div class="outlineborder">
        <p class="header"><ion-icon name="mail-outline" class="icon"></ion-icon><strong>Email Address</strong></p>
        <p style="text-align: right;">{{ data.acc_email }}</p>
      </div>

      <div class="outlineborder">
        <p class="header"><ion-icon name="call-outline" class="icon"></ion-icon><strong>Contact Number</strong></p>
        <p style="text-align: right;">{{ data.acc_mobile }}</p>
      </div>
  
      <div class="outlineborder">
        <p class="header"><ion-icon name="person-circle-outline" class="icon"></ion-icon><strong>Username</strong></p>
        <p style="text-align: right;">{{ data.acc_username }}</p>
      </div>
  
      <!-- <div class="editDetailsBtn">
        <ion-button class="actionBtn" shape="round">Edit Details</ion-button>
      </div> -->
    </div>
  </div>

</ion-content>
