h1 {
	font-size: 22px;
	padding: 0 15px;
	margin-top: -20px;
}

p {
	font-size: 14px;
	margin-top: -10px;
	padding: 0 15px;
}


.registerBtn {
    font-family: 'Poppins', sans-serif;
    height: 50px;
	width: 85%;
    font-size: 20px;
	margin: 0 auto;
}

.finishRegister {
	text-align: center;

	ion-icon {
		margin-bottom: 15px;
		font-size: 30px;
	}
}