/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    scroll-behavior: smooth;
}

/* Registration Component Styles */

.main-container {
    padding-bottom: 20px;
}

.registerContent, .questionGraphic {
    padding: 15px;
    margin: 0 auto;

    ion-input {
        margin: 0 auto;
        background-color: #EDEDED;
        height: 50px;
        margin-bottom:  10px !important;
        padding: 0px 20px !important;
        border-radius: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        width: 95%;
    }

    ion-select {
        margin: 0 auto;
        background-color: #EDEDED;
        height: 50px;
        margin-bottom:  10px !important;
        padding: 0px 20px !important;
        border-radius: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        width: 95%;
        --placeholder-opacity: 0.5
    }

    ion-radio-group {
        display: flex;
        place-content: center;
    }
    
    ion-radio {
        --color: #228b22;
        --color-checked: #228b22;
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        padding: 15px !important;
        color: crimson;
    }

    a {
        text-decoration: none;
    }

}

.graphic-image {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.registerMidHeader {
    font-size: 18px;
    text-align: justify;
    padding: 0 15px;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.navBtnDiv {
    display: flex;
    justify-content: flex-end;
	width: 95%;
}

.navBtn {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    font-size: 20px;
}


/* Registration Component Styles */


