<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catproducts"></ion-back-button> 
      <p style="font-size: 20px; color: white;">Back to products</p> 
    </ion-buttons>
  </div>

  <div class="productImage">
    <ion-card>
      <ion-card-content>
        <img src="https://via.placeholder.com/250">
      </ion-card-content>
    </ion-card>
  </div>

  <div class="productDetailsContainer">
    <div class="productDetails" *ngFor = "let item of cardContent">
      <p class="header">{{ item.itemName }}</p>

      <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>

      <div class="weightPriceDiv">
        <p class="subheader"> {{ item.itemWeight }}</p>
        <p class="subheader">₱ {{ item.itemPrice }}</p>
      </div>
      <p class="subheader">Product Description</p>
      <p class="body" style="text-align: justify; color: dimgray;"> {{ item.itemDesc }}</p>

      <div class="addToCartButton">
        <ion-button class="addToCartBtn" shape="round" expand="full"><ion-icon name="cart" style="color: white; margin-right: 8px;"></ion-icon> Add to Cart</ion-button>
      </div>
    </div>
  </div>

</ion-content>
