<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catproducts"></ion-back-button> 
      <p style="font-size: 20px; color: white;">Back to products</p> 
      <span  style="flex: 1 1 auto"></span>
      <div style="float:right;">
        <ion-fab-button [routerLink]="['/cart']"><ion-icon  class="cart-btn" name="cart-sharp"></ion-icon></ion-fab-button>
      </div>
    </ion-buttons>
  </div>

  <div *ngFor = "let item of dt">
    <div class="productImage">
      <ion-card>
        <ion-card-content>
          <img src="{{ item.product_image }}">
          <img *ngIf="item.product_image == null" src="../../assets/images/defaultproductphoto.png">
        </ion-card-content>
      </ion-card>
    </div>
    <div class="productDetailsContainer">
      <div class="productDetails">
        <p class="header">{{ item.product_name }}</p>
        <p class="subheader">₱ {{ item.product_price }}</p>
        <div class="product-description">
          <p class="subheader">Product Description</p>
          <p class="body" style="text-align: justify; color: dimgray;"> {{ item.product_desc }}</p>
        </div>
  
        <div class="addToCartButton">
          <ion-button (click)="addToCart(item.product_id)" class="addToCartBtn" shape="round" expand="full"><ion-icon name="cart" style="color: white; margin-right: 8px;"></ion-icon> Add to Cart</ion-button>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
