
<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>
      <p style="font-size: 20px; color: white;">My Orders</p> 
    </ion-buttons> 
  </div>

    <div class="myOrders">

      <div class="emptyOrdersImg" *ngIf = "dt.length === 0">
          <img src="../../assets/images/emptyorders.png" style="width: 85%; height: 85%;">
          <p style="font-size: 20px;">No orders yet.</p>
          <p style="margin-top: -10px;">Items that you checkout for purchase will appear here.</p>
      </div>

      <div class="myOrdersContent">

        <div class="myOrdersSegment" *ngIf = "dt.length != 0">
          <ion-segment [(ngModel)]="type">
         
            <ion-segment-button value="pendingOrders">
              <ion-label>Pending</ion-label>
            </ion-segment-button>
            <ion-segment-button value="completedOrders">
              <ion-label>Completed</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
  
        <div class="segmentContent" [ngSwitch]="type">

          <div class="pendingSegment" *ngSwitchCase="'pendingOrders'">
            <ion-list *ngFor="let data of dt">
              <div  *ngIf="data.order_status == 1 || data.order_status == 2 ">
              <ion-item>
                <img src="../../assets/images/pendingorders.png" style="width: 40px; height: 40px; margin-right: 10px;">
                <ion-label>
                  <h2>Order ID {{ data.order_id }}</h2>
                  <h3>Order ID {{ data.order_id }}</h3>
                  <p>Status: 
                    <span  *ngIf="data.order_status == 1"  class="status" style="background-color: #f89406;">Pending</span>
                    <span  *ngIf="data.order_status == 2"  class="status" style="background-color: #D9B611;">To be delivered</span>
                  </p>
                </ion-label>
              </ion-item>
            </div>
            </ion-list>
          </div>

          <div class="completedSegment" *ngSwitchCase="'completedOrders'">
            <ion-list *ngFor="let data of dt">
              <ion-item   *ngIf="data.order_status == 3 || data.order_status == 0 ">
                <img *ngIf="data.order_status == 3" src="../../assets/images/orderdelivered.png" style="width: 40px; height: 40px; margin-right: 10px;">
                <img *ngIf="data.order_status == 0" src="../../assets/images/cancelledorder.png" style="width: 40px; height: 40px; margin-right: 10px;">
                <ion-label>
                  <h2>Order ID {{ data.order_id }}</h2>
                  <h3>Order ID {{ data.order_id }}</h3>
                  <p>Status: 
                  <span  *ngIf="data.order_status == 3"  class="status" style="background-color: forestgreen">Delivered</span>
                  <span  *ngIf="data.order_status == 0"  class="status" style="background-color: crimson">Cancelled</span>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
  
        </div>

      </div>

    </div>

</ion-content>
