
<ion-content mode="md">

  <div class="sidenavBtn">
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>
      <p style="font-size: 20px; color: white;">My Orders</p> 
    </ion-buttons> 
  </div>

    <div class="myOrders">

      <div class="myOrdersContent">

        <div class="myOrdersSegment">
          <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
         
            <ion-segment-button value="pendingOrders">
              <ion-label>Pending</ion-label>
            </ion-segment-button>
            <ion-segment-button value="completedOrders" checked>
              <ion-label>Completed</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
  
        <div class="segmentContent" [ngSwitch]="type">

          <div class="pendingSegment" *ngSwitchCase="'pendingOrders'">
            <ion-list>
              <ion-item>
                <img src="../../assets/images/pendingorders.png" style="width: 40px; height: 40px; margin-right: 10px;">
                <ion-label>
                  <h2>Order ID #1</h2>
                  <h3>Order Date: 12-07-2019</h3>
                  <p>Status: To be Delivered</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

          <div class="completedSegment" *ngSwitchCase="'completedOrders'">
            <ion-list>
              <ion-item>
                <img src="../../assets/images/orderdelivered.png" style="width: 40px; height: 40px; margin-right: 10px;">
                <ion-label>
                  <h2>Order ID #1</h2>
                  <h3>Order Date: 12-07-2019</h3>
                  <p>Status: Delivered</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

          <!-- <div class="completedSegment" *ngSwitchCase="'completedOrders'">
            <div class="img-container">
              <img src="../../assets/images/delivered.png">
            </div>
  
            <div class="outline-border">
              <div class="flexData">
                <p class="dataHeader">Order ID</p>
                <p class="orderData">1</p>
              </div>
  
              <div class="flexData">
                <p class="dataHeader">Order Date</p>
                <p class="orderData">05-12-2019</p>
              </div>
  
              <div class="flexData">
                <p class="dataHeader">Total Price</p>
                <p class="orderData">₱ 554.00</p>
              </div>
  
              <div class="flexData">
                <p class="dataHeader">Payment Method</p>
                <p class="orderData">COD</p>
              </div>
  
              <div class="flexData">
                <p class="dataHeader">Status</p>
                <p class="orderData" style="color: forestgreen;">Delivered</p>
              </div>
  
              <ion-button class="viewDetailsBtn" shape="round" expand="full" >
                <ion-icon style="color:white" name="eye"></ion-icon>
                View Details
              </ion-button>
            </div>
  
          </div> -->
  
          <!-- <div class="pendingSegment" *ngSwitchCase="'pendingOrders'">
            <div class="img-container">
              <img src="../../assets/images/pending.png">
              <div class="outline-border">
                
                <div class="flexData">
                  <p class="dataHeader">Order ID</p>
                  <p class="orderData">1</p>
                </div>
    
                <div class="flexData">
                  <p class="dataHeader">Order Date</p>
                  <p class="orderData">05-12-2019</p>
                </div>
    
                <div class="flexData">
                  <p class="dataHeader">Total Price</p>
                  <p class="orderData">₱ 554.00</p>
                </div>
    
                <div class="flexData">
                  <p class="dataHeader">Payment Method</p>
                  <p class="orderData">COD</p>
                </div>
  
                <div class="flexData">
                  <p class="dataHeader">Status</p>
                  <p class="orderData" style="color: orangered;">To Receive</p>
                </div>

                <ion-button class="viewDetailsBtn" shape="round" expand="full" fill="outline">
                  <ion-icon style="color:white" name="checkmark-circle"></ion-icon>
                  Order Delivered
                </ion-button>
              </div>
            </div>
          </div> -->
  
        </div>

      </div>

    </div>

</ion-content>
