ion-content {
    --ion-background-color:#228b22;
}

ion-button {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    --border-color: forestgreen;
    color: forestgreen;
    font-size: 16px;
}

ion-icon {
    color: forestgreen; 
    margin-right: 10px;
}

ion-segment {
    --color: forestgreen;
}

ion-label, h2, h3, p {
    font-family: 'Poppins', sans-serif;
}

ion-list {
    --ion-background-color:white;
}

.myOrders {
    padding: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    min-height:100vh;
    margin-top: -10px;
}

.img-container {
    margin-top:25px;
}


.flexData {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderData {
    width: 40%;
    padding: 10px;
    border-radius: 25px;
    background: #EDEDED;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0;
    margin-top: 5px;
}

.dataHeader {
    font-weight: 600;
}

.sidenavBtn, .myOrdersContent {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.status {
    border-radius: 25px;
    color:white;
    padding: 0 10px;
}

.emptyOrdersImg {
    text-align: center;
    margin-top: 150px;

    p {
        padding: 0 15px;
    }
}

.pendingSegment {
    margin-top: 15px;
}

.outline-border {
    border: 1.5px solid #228b22;
    border-radius: 20px;
    margin: 15px auto;
    padding: 15px;

    img {
        width: 40px;
        height: 40px;
    }
   
    p {
        margin: 0;
    }
}

.header {
    font-size: 20px;
}

.subheader {
    font-size: 18px;
}

.secheader {
    font-size: 16px;
}

.myorder {
    display: flex;
    align-items: center;
    gap: 1em;
}