ion-content {
    --ion-background-color:#228b22;
    font-family: 'Poppins', sans-serif;
}

ion-back-button {
    --color: white;
}

.sidenavBtn{
    padding: 15px;
}

.editNameContainer {
    padding: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    min-height:100vh;
    margin-top: -10px;
}

.header {
    padding: 0 15px;
}

.zontaline {
    border-bottom: 1px solid dimgray;
}

.imgDiv {
    text-align: center;
    margin: 15px;
}

.registerBtn {
    font-family: 'Poppins', sans-serif;
    height: 50px;
	width: 85%;
    font-size: 20px;
	margin: 15px auto;
}

.addressimg {
    height: 250px;
}