h1 {
	font-size: 22px;
	padding: 0 15px;
}

p {
	font-size: 14px;
	margin-top: -10px;
	padding: 0 15px;
}

.navBtnDiv {
    display: flex;
    justify-content: flex-end;
	width: 95%;
}

.navBtn {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    font-size: 20px;
}

.sidenavBtn {
    padding: 0 15px;
}

