ion-input {
    background-color: lightgray;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}


h1, p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

p {
    margin-top: -8px;
}

.questionGraphic, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7 {
    padding: 15px;
}

ion-button {
    margin-top: 10px;
    margin-bottom: 10px;
    --background: #228b22;
}

ion-radio-group {
    display: flex;
    place-content: center;
}

ion-radio {
    --color: #228b22;
    --color-checked: #228b22;
}

.nextButton {
    display: flex;
    justify-content: center;
}

ion-slides {
    --bullet-background: forestgreen;
    --bullet-background-active: forestgreen;
    padding: 15px;
}

ion-fab-button {
    --background: #228b22;
}
